.tekst {
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
    font-size: large;
    color: rgb(255, 255, 255);

}

#osu {
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
    font-size: 50px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: fixed;
    top: 50%;
    left: 50%
}

#osu a {
    text-decoration: none;
    transition: 0.05s ease-in-out;
    color: rgb(255, 255, 255)
}

#osu a:hover {
    font-size: 65px;
    text-decoration: none;
}

#yt {
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
    position: fixed;
    left: 50%;
    top: 30%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 50px;
}

#yt a {
    text-decoration: none;
    transition: 0.05s ease-in-out;
    color: rgb(255, 255, 255)
}

#yt a:hover {
    font-size: 65px;
    text-decoration: none;
}

::selection {
    color: rgb(153, 0, 255);
}

#playek {
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    position: fixed;
    z-index: -10;
    overflow: hidden;
    object-fit: none;
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
}

body{
    background-color: black;
}